.nova-carteira {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .nova-carteira h2 {
    margin-bottom: 20px;
  }
  
  .nova-carteira div {
    margin-bottom: 10px;
  }
  
  .nova-carteira label {
    display: block;
    margin-bottom: 5px;
  }
  
  .nova-carteira input,
  .nova-carteira select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .nova-carteira button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nova-carteira button:hover {
    background-color: #0056b3;
  }
  